<div class="box-header with-border">
    <h3 class="box-title">Products</h3>
    <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fa fa-minus"></i></button>
        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
            <i class="fa fa-times"></i></button>
    </div>
</div>
<div class="box-body">
    Start creating your amazing application!
</div>
<!-- /.box-body -->
<div class="box-footer">
    <div class="row-fluid">
        <div class="col-md-3">
            <form ng-submit="addData()">
                <div class="form-group">
                    <label for="email" class="capitalize">{{ 'EMAIL' | translate }}</label>
                    <input type="text" class="form-control" id="email" ng-model="data.email" placeholder="{{ 'EMAIL' | translate }}">
                </div>
                <button type="submit" class="btn btn-default capitalize">{{ 'SEND' | translate }}</button>
            </form>
        </div>
        <div class="col-md-9">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="capitalize">{{ 'EMAIL' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in list" ng-click="viewData($index)">
                        <td>{{item.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>